{% extends "master.html" %}


{% block content %}
<!--<div class="row">-->
<!--    <div class="form-group col-10">-->
<!--        <label for="SQLSearch">SQL:</label>-->
<!--        <textarea id="SQLSearchTextarea" for=" SQLSearch" rows="5" class="form-control input-sm"-->
<!--                  placeholder="Input SQL"></textarea>-->
<!--    </div>-->
<!--    <div class="form-group col-2">-->
<!--        <button id="SQLSearch" class="btn-query form-control btn btn-primary">Query</button>-->
<!--    </div>-->
<!--</div>-->
<table id="datatable" class="table table-striped  table-sm" width="100%">
    <thead>
    <tr>
        <th>id</th>
        <th>cid</th>
        <th>city</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>street_name</th>
        <th>injured_count</th>
        <th>crash_time</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock content%}