{% extends "master.html" %}


{% block content %}
<!--<div class="row">-->
<!--    <div class="form-group col-10">-->
<!--        <label for="SQLSearch">SQL:</label>-->
<!--        <textarea id="SQLSearchTextarea" for=" SQLSearch" rows="5" class="form-control input-sm"-->
<!--                  placeholder="Input SQL"></textarea>-->
<!--    </div>-->
<!--    <div class="form-group col-2">-->
<!--        <button id="SQLSearch" class="btn-query form-control btn btn-primary">Query</button>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <h2><span style="font-size:2rem;color: #159e35;">Data visualization-Map</span></h2>
        <img src="../static/image/Screen%20Shot%202020-03-11%20at%208.32.32%20PM.png" class="img-fluid"
             alt="Responsive image">
    </div>

</div>
<div>
    <span style="float: right">(*Made by Tableau)</span>
</div>
<div class="col-sm-12">

</div>
    <hr class="style-one"/>

<h3><span style="font-size:2rem;color: #159e35;">Map Data</span></h3>
<table id="datatable" class="table table-striped  table-sm" width="100%">
    <thead>
    <tr>
        <th>id</th>
        <th>cid</th>
        <th>city</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>street_name</th>
        <th>injured_count</th>
        <th>crash_time</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock content%}