{% extends "master.html" %}

{% block content %}


<tr>
    <span style="font-size:2rem;color: #159e35;">Team name: Digital Beavers</span>
</tr>
<hr class="style-one"/>
<h2><span style="font-size:2rem;color: #159e35;">Introduction</span></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h5><span>In this project, we present two types of analysis base on the crash data in the U.S.<br>
                  First type is map: we combined organized crash data with address data, then present the results
                  on the map. <br>
                  Second type is weather condition: we integrated the crash data with weather by "Date", and statistic
                  the amount of crash happen in each weather condition. </span></h5>
        </div>
    </div>
    <hr class="style-one"/>
    <div class="row">
        <div class="col-sm-4">
            <h4>Total amount of data:</h4>
        </div>
        <div class="col-sm">
            <h4>15,709,686</h4>
        </div>
    </div>
    <hr class="style-one"/>
    <div class="row">
        <div class="col-sm-4">
            <h4>Total amount of sources:</h4>
        </div>
        <div class="col-sm">
            <h4>48</h4>
        </div>
    </div>
    <hr class="style-one"/>
</div>
<h3><span style="font-size:2rem;color: #159e35;">Overview</span></h3>
<img src="../static/image/cs540_Project-Page-2.png" class="img-fluid" alt="Responsive image">


<!--&lt;!&ndash;&ndash;&gt; We may or may no use this-->
<!--<h3><span style="font-size:2rem;color: #159e35;">Data integration methods</span></h3>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-sm-12">-->
<!--            <h4>Python:</h4>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <ul class="col-sm-offset-1">-->
<!--                <h5><li>First item</li></h5>-->
<!--                <h5><li>Second item</li></h5>-->
<!--                <h5><li>Third item</li></h5>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr class="style-one"/>-->
<!--    <div class="row">-->
<!--        <div class="col-sm-4">-->
<!--            <h4>Total amount of sources:</h4>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <h4>40</h4>-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr class="style-one"/>-->
<!--</div>-->


<table>
    <tr>
        <td><span style="font-size:2rem;color: #159e35;">Team member:</span></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Shu-Kan, Nieh</td>
        <td>niehsh@oregonstate.edu</td>
        <td>Yun-Yi Tseng</td>
        <td>tsengyun@oregonstate.edu</td>
    </tr>
    <tr>
        <td>Ta-Wei Hwang</td>
        <td>hwangt@oregonstate.edu</td>
        <td>Chun-Yu, Chen</td>
        <td>chench6@oregonstate.edu</td>
    </tr>
    <tr>
        <td>Hung-Chih Liu</td>
        <td>liuhun@oregonstate.edu</td>
        <td>Anton Nikitin</td>
        <td>Nikitina@oregonstate.edu</td>
    </tr>
</table>
{% endblock content %}



