{% extends "master.html" %}

{% block content %}

<table>
    <tr>
        <span style="font-size:2rem;color: #159e35;">Team name: Digital Beavers</span>
    </tr>
    <tr>
        <td>Team member:</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Shu-Kan, Nieh</td>
        <td>niehsh@oregonstate.edu</td>
        <td>Yun-Yi Tseng</td>
        <td>tsengyun@oregonstate.edu</td>
    </tr>
    <tr>
        <td>Ta-Wei Hwang</td>
        <td>hwangt@oregonstate.edu</td>
        <td>Chun-Yu, Chen</td>
        <td>chench6@oregonstate.edu</td>
    </tr>
    <tr>
        <td>Hung-Chih Liu</td>
        <td>liuhun@oregonstate.edu</td>
        <td>Anton Nikitin</td>
        <td>Nikitina@oregonstate.edu</td>
    </tr>
</table>
<hr class="style-one"/>
<h2><span style="font-size:2rem;color: #159e35;">Introduction</span></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Total amount of data:</h4>
        </div>
        <div class="col-sm">
            <h4>123456789</h4>
        </div>
    </div>
    <hr class="style-one"/>
    <div class="row">
        <div class="col-sm-4">
            <h4>Total amount of sources:</h4>
        </div>
        <div class="col-sm">
            <h4>40</h4>
        </div>
    </div>
    <hr class="style-one"/>
</div>
<h3><span style="font-size:2rem;color: #159e35;">Data Analysis</span></h3>
<img src="../static/image/cs540_Project.png" class="img-fluid" alt="Responsive image">




{% endblock content %}



