{% extends "master.html" %}

{% block content %}
<table>
        <tr>
        <span style="font-size:2rem;color: #159e35;">Team name: Digital Beavers</span>
        </tr>
        <tr>
            <td>Team member:</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Shu-Kan, Nieh</td>
            <td>niehsh@oregonstate.edu</td>
            <td>Yun-Yi Tseng</td>
            <td>tsengyun@oregonstate.edu</td>
        </tr>
        <tr>
            <td>Ta-Wei Hwang</td>
            <td>hwangt@oregonstate.edu</td>
            <td>Chun-Yu, Chen</td>
            <td>chench6@oregonstate.edu</td>
        </tr>
        <tr>
            <td>Hung-Chih Liu</td>
            <td>liuhun@oregonstate.edu</td>
            <td>Anton  Nikitin</td>
            <td>Nikitina@oregonstate.edu</td>
        </tr>
        </table>
{% endblock content %}



