.container{

}

.header{
    background-color: #F1F1F1;
    text-align: center;
    margin: auto;
}

.heading-button{
    margin: auto;
}

table{
    table-layout: fixed;
    font-size: 20px;
}

.table{
    font-size: 12px;
}

td{
    width:25%;
}